<%= password_f f, :api_key, :label => _("API Key"), :unset => unset_password? %>
<% regions = f.object.regions rescue [] %>

<div id='region_selection'>
  <%= select_f(
    f, :region, regions, :slug, :name, {},
    :label => _('Default Region'), :disabled => regions.empty?,
    :help_inline => link_to_function(
      regions.empty? ? _("Load Regions") : _("Test Connection"), "testConnection(this)",
      :class => "btn + #{regions.empty? ? "btn-default" : "btn-success"}",
      :'data-url' => test_connection_compute_resources_path) +
     spinner('', :id => 'test_connection_indicator',
             :class => 'hide').html_safe) %>
</div>
